@import "tailwindcss";

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 6px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #e2e8f0;
        border-radius: 20px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: #cbd5e1;
    }

    .mesh-bg {
        background-color: #f7f1fb;
        background-image:
            radial-gradient(at 0% 0%, hsla(240, 60%, 95%, 1) 0px, transparent 50%),
            radial-gradient(at 80% 0%, hsla(330, 40%, 95%, 1) 0px, transparent 50%),
            radial-gradient(at 100% 100%, hsla(30, 40%, 90%, 1) 0px, transparent 50%),
            radial-gradient(at 0% 100%, hsla(260, 50%, 92%, 1) 0px, transparent 50%);
    }
}

body {
    background-color: #f3f4f6;
    /* Fallback */
    padding: 1.5rem;
    /* For the outermost rounded wrapper */
    height: 100vh;
    overflow: hidden;
}